.layoutWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex-grow: 1;
  background-color: var(--surface-background);
}

@media (max-width: 1024px) {
  .contentWrapper {
    padding-bottom: 80px;
  }
}

